.SimuOutput{
    flex:0.8;
    border: black 1px solid;
    padding:20px;
    margin: 20px 20px 20px 10px;
    border-radius: 10px;
    display:flex;
	flex-direction: column;
	align-items: center;
    background-color:rgba(158, 243, 236, 0.281);
}

.maincontent{
    /* margin-top: 20px; */
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startmessage{
    margin-top:25%;
    padding:20px 30px;
    font-size: large;
    white-space: pre-line;
    text-align: center;
    background-color:rgb(231, 223, 223);
    border:grey 1px solid;
    border-radius: 5px;
}

.SimuOutput .instruction{
    font-size: small;
}

.SimuOutput .choose-table{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 -5px; */
    /* height:30%; */
    /* margin-bottom: 20px; */
    /* height:10% */
    /* padding:200px */
}


.SimuOutput .choose-table .ant-radio-group{
    margin-top:10px;
}